form{
    background-color: white ;
    width: 800px;

}

label{
    width: 200px;
    display: inline-block;
}

h1 {
	color: black;
}

#error{
background-color: pink;
padding: 5px;
border: 1px;
}
body {
		background-color: grey ; 
}

#resultat {
		color: white;
		background-color: green;
		padding: 5px;
		border: 1px;
}
#Date{
    width: 175px;
}